<h3 >Adicione um novo item</h3>
  <br>
  <form name="myForm" ng-submit="addItem()">
    <div class="form-group">
        <input type="text" ng-model="newItem.title" class="form-control" placeholder="Título" />
    </div>  
    <div class="form-group"> 
      <input type="text" ng-model="newItem.notes" class="form-control" placeholder="Observação" />
    </div>  
    <div class="col-xs-12 text-center">
      <input type="Submit" value="Adicionar" class="btn btn-success"/>
     </div>
  </form>
    