<div class="container" ng-controller="itemsController">
  <h1>To-do List</h1>

  <div>
    <div class="well">
      <h3>Adicione um novo item</h3>
      <form ng-submit="addItem()">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" ng-model="newItem.title" class="form-control" placeholder="Título" />
          </div>
          <div class="col-xs-6">
            <input type="text" ng-model="newItem.notes" class="form-control" placeholder="Observação" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Adicionar" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

    <h3>Itens atualmente na lista</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Observação</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!items.length">
          <td colspan="4">Lista vazia</td>
        </tr>
        <tr ng-repeat="item in items">
          <td>{{ item.title }}</td>
          <td>{{ item.notes }}</td>
          <td><a class="btn btn-danger" ng-click="deleteItem($index)">Remover</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>